// *-----------Header---------------*

$font-size-h1: 2rem;

$font-size-h2: 1.825rem;

$font-size-h3: 1.525rem;

$font-size-h4: 1.225rem;

$font-size-h5: 1rem;

$font-size-h6: 0.3rem;

$line-height: 0.2rem;

// *-----------base---------------*

$theme: #22222E;

// *-----------link---------------*

$font-size-menu: 0.9rem;

// *----------- font -------------*

$body-font-style:  Tahoma, sans-serif;